* {
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: 'Gudea';
  letter-spacing: 1.2px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.devicon {
  margin-right: 10px;
}
.socialIcon:hover,
.tab:hover,
.active {
  color: #34a5b3;
}

/* mobile-first  */
/* under iphone 6 and smaller than width 320px */
/* 2 for xs devices */

@media only screen and (min-width: 250px) {
  /* header */
  .header {
    height: 84vh;
    color: #fff;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('../assets/bg.jpeg');
    background-size: 100%;
  }
  .inner-container {
    width: 90%;
    margin: 0 auto;
  }
  .inner-header-container {
    text-align: center;
    flex-direction: column;
    height: 30%;
    padding: 20px 5px;
    border-bottom: 1px #fff solid;
  }
  .profileImage-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inner-header-left {
    text-align: center;
  }
  .name {
    font-size: 18px;
    margin: 5px 0;
  }
  .name:hover {
    color: #34a5b3;
  }
  .title {
    font-size: 15px;
    background-color: #34a5b3;
  }
  .inner-header-right {
    padding-top: 20px;
  }
  .inner-header-right > ul > li {
    font-size: 15px;
    margin: 0 10px;
    display: inline-block;
  }
  .profileImage {
    border-radius: 50%;
    width: 150px;
  }
  /* main */
  .main-title {
    font-size: 30px;
    color: #34a5b3;
    margin-top: 50px;
  }
  .main-article {
    font-size: 16px;
    color: #222222;
    margin: 30px 0 50px 0;
  }
  .pomotris-link {
    color: #34a5b3;
    font-weight: 550;
  }
  .button-like {
    width: 140px;
    margin: 10px 0 0 0;
    padding: 10px;
    color: #34a5b3;
    font-weight: 700;
    display: block;
    border: 2px solid #34a5b3;
    border-radius: 5px;
    font-size: 13px;
  }

  .button-like:hover {
    color: #fff;
    background-color: #34a5b3;
  }

  /* project */

  .project-container {
    padding: 30px 0 10px 0;
    border-bottom: 0.3px solid #bdbdbd;
  }

  .helper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .projectTitle-left {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .project-name {
    margin-right: 10px;
  }
  .project-name:hover,
  .devicon-github-plain:hover {
    color: #34a5b3;
    cursor: pointer;
  }
  .project-description {
    margin-bottom: 25px;
  }

  /* footer */
  .footer-container {
    width: 100%;
    height: 8vh;
    background-color: gainsboro;
    text-align: center;
    margin-top: 8vh;
    border-top: 1px solid #c3c3c3;
  }
  .profile-social-links {
    width: 55%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #585858;
  }

  .profile-social-links > li > a {
    color: #585858;
    font-size: 20px;
  }
}
/* px to vmin for font-size */
@media only screen and (min-width: 370px) {
  /* header */
  .inner-header-right > ul > li {
    font-size: 4.5vmin;
  }
  .name {
    font-size: 20px;
    margin: 10px 0;
  }
  .profileImage {
    width: 150px;
  }
  /* main */
  .main-title {
    font-size: 8vmin;
  }
  .main-article,
  .title {
    font-size: 4vmin;
  }
}
/* tablet */
@media only screen and (min-width: 500px) {
  .inner-container {
    width: 83%;
  }
  .inner-header-container {
    padding: 20px 5px;
  }
  .inner-header-right > ul > li {
    margin: 0 20px;
    font-size: 3vw;
  }
  .name {
    font-size: 30px;
  }
  .title {
    font-size: 3vw;
  }
  .profileImage {
    width: 210px;
  }
  .main-title {
    font-size: 5.8vmin;
  }
  .main-article {
    font-size: 3vw;
  }
  .helper {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 25px;
    font-size: 25px;
  }

  .button-like {
    display: inline;
    font-size: 16px;
    margin: 0 20px 0 0;
  }
}
/* breakpoint */
@media only screen and (min-width: 740px) {
  .header {
    border-top: 5px solid #fff;
  }
  .inner-container {
    width: 90%;
    padding: 0 5px;
  }

  .inner-header-container {
    height: 20%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profileImage-container {
    height: 80%;
  }
  .inner-header-left {
    float: left;
  }
  .inner-header-left {
    text-align: left;
  }
  .inner-header-right {
    padding-top: 25px;
  }
  .inner-header-right > ul > li {
    margin-left: 25px;
    font-size: 20px;
  }
  .name {
    margin: 10px 0;
  }
  .profileImage {
    width: 250px;
  }
  .main-article,
  .title {
    font-size: 2.3vmin;
  }
  .button-like {
    padding: 10px 40px;
  }
  .profile-social-links {
    width: 25%;
  }
}
@media only screen and (min-width: 800px) {
  .inner-container {
    width: 80%;
  }
  .main-title {
    font-size: 5.3vmin;
  }
  .projectTitle-left {
    font-size: 25px;
  }
}
@media only screen and (min-width: 900px) {
  .inner-container {
    width: 70%;
  }
  .main-title {
    font-size: 5.1vmin;
  }
}
@media only screen and (min-width: 1200px) {
  .inner-container {
    width: 60%;
  }
}
@media only screen and (min-width: 1350px) {
  .inner-container {
    width: 50%;
  }
}
